h1{
    background-color: darkslateblue;
    color: whitesmoke;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    font-size: 40;
    font-weight: 400;
}

h2{
    color: rgb(27, 13, 117);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    font-size: 30;
    font-weight: 330;
}

body {
    background-color: sandybrown; 
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

/*
container{
    position: relative;
    text-align: center;
    color: blueviolet;
} */